body{
    background-color: black;
    color:black;
}
h1{
    text-align: center;
    color:gold;

}
div.container{
    background: linear-gradient(135deg,lightgreen,pink,rgb(255, 229, 115));
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    width:80vw;
    margin:auto;
    border-radius: 50px;
}
input,select{
    padding:8px;
    margin:2%;
    color:aliceblue;
    background-color: black;
}
button{
    text-align: center;
    margin:2%;
    background-color: greenyellow;
    padding: 9px;
    margin:20px;
    border:none;
    cursor:pointer ;
}