
body{
    background-color: black;
    color:black;
}
h1{
    color:bisque;
}
div.container{
    background-image:URL("bgimg.jpg");
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    margin: auto;
    height:70vh;
    width:48vw;
    background-repeat:no-repeat ;
    font-family: 'Times New Roman', Times, serif;
}
input{
    margin:1%;
    color: white;
    background-color: black;
    border:none;
    border-radius: 8px;
    padding:4px;
}
button{
    padding: 0 25px 0 25px;
    border-radius: 0px;
    margin:1%;
    color: black;
    background-color:white ;
    border:none;
    border-radius: 4px;
    padding:4px;
}
button:hover{
    color:white;
    background-color: black;
    opacity: 70%;
    font-weight: 600;
}
div.register
{
    margin: 5%;
}
